{
    "presets": ["@babel/preset-typescript"],
    "plugins": [
        ["../src/index", {
            "elementsReplaceStringAttributes": {
                "LabelProvider": ["label"]
            },
            "elementsPreserveJsxText": {
                "PreserveMyText": true
            }
        }]
    ]
}