{
    "presets": ["@babel/preset-typescript"],
    "plugins": [
        ["../../src/plugin", {
            "elementsReplaceStringAttributes": {
                "LabelProvider": ["label"]
            },
            "elementsPreserveJsxText": {
                "PreserveMyText": 1
            },
            "key": {
                "type": "function",
                "functionName": "localize",
                "keyName": "loc_"
            }
        }]
    ]
}